[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prasadfast
[access "refs/for/refs/*"]
	read = group user/prasadfast
	push = group user/prasadfast
	label-Code-Review = -2..+2 group user/prasadfast
	label-Verified = -1..+1 group user/prasadfast
	rebase = group user/prasadfast
	removeReviewer = group user/prasadfast
	submit = group user/prasadfast
[access "refs/heads/*"]
	read = group user/prasadfast
	create = group user/prasadfast
	push = +force group user/prasadfast
	pushMerge = group user/prasadfast
[access "refs/tags/*"]
	push = group user/prasadfast
	push = +force group user/prasadfast
